{% extends "base.html" %}

{% block content %}

        <div class="container mt-4">

            <h2>Authors</h2>

            The <strong>FPGA Emulator Web</strong> has been developed by <strong>Prof. Eduardo L. O. Batista</strong> (web front and back ends) and 
            <strong>Prof. Fabian L. Cabrera</strong> (emulation backend), both from the <a href="http://www.eel.ufsc.br" target="_BLANK">Department of Electrical 
            and Electronics Engineering</a> at the <a href="http://www.ufsc.br" target="_BLANK">Federal University of Santa Catarina (UFSC)</a>.

            <h2 class="mt-3 mb-2">Platforms and Dependencies</h2>
            <p><strong>Emulation backend</strong>: GHDL-based.</p>
            <p><strong>Web backend</strong>: Python and Flask.</p>
            <p><strong>Web frontend</strong>: MDBootstrap, JQuery, SocketIO, and the outstanding Ace Editor.</p>


            
        </div>

{% endblock %}