{% extends "base.html" %}


    {% block styles %}
    {% endblock %} 


    {% block content %}

    <div class="container mt-3 mx-auto px-4">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!-- <article class="message is-danger is-light my-1">
                <div class="message-body py-1 px-1"> -->
                <div class="notification is-danger is-light py-1 px-2">
                    {{ messages[0] }}
                </div>
                <!-- </div>
            </article> -->
            {% endif %}
        {% endwith %}  

        {% if current_user.role == 'Admin' %}

        <div class="box">

            <h2 class="title is-4">Server Info</h2>

            <div class="form-group form-inline mb-0">            
                <button class="button is-info is-small" onclick="checkServerProcs();">Check Server Processes</button>
                <button class="button is-info is-small" onclick="checkStdOut();">Check Supervisor STDOUT</button>
                <button class="button is-info is-small" onclick="checkStdErr();">Check Supervisor STDERR</button>
                <button class="button is-info is-small" onclick="checkLogs();">Check Flask Logs</button>
                <button class="button is-danger is-small" onclick="deleteEmuLogs();">Delete Flask Logs</button>
            </div> 

            <div class="mb-2 mt-1 mx-2 is-size-7" id="psinfo" style="height: 70vh; overflow-y:auto">
                
            </div>

        </div>

        <div class="box">

            <h2 class="title is-4">Cloud Database Info</h2>

            <div class=" container is-flex mb-2" >
                <!-- <label for="clouddbinfo">Cloud Db Info</label> -->
                <input type="text" class="input is-small is-inline is-flex-grow-1 mx-2" id="clouddbinfo" aria-describedby="emailHelp" placeholder="Cloud DB Info" value="{{clouddbinfo}}">
                <button class="button is-info is-small mx-1" onclick="saveCloudDbInfo();">Save</button>
                <button class="button is-info is-small mx-1" onclick="checkCloudDb();">Check Cloud DB Info</button>
            </div> 


            <i id="running" class="fa fa-cog fa-spin fa-2x fa-fw" style="display: none;"></i>
            <div class="block is-size-7 mx-2" id="cloudinfo">
                
            </div>

        </div>

        <div class="box">

            <h2 class="title is-4">Email Info and Credentials</h2>

            <div class="form-group">
                <!-- <label for="emailinfo">Example textarea</label> -->
                <textarea class="textarea is-small" id="emailInfo" rows="5">{{emailinfo}}</textarea>
            </div>

            <button class="button is-info is-small mt-1" onclick="saveEmailInfo();">Save</button>
            <div class="block is-size-7 mx-2 mt-1" id="emailresponse">                
            </div>

        </div>

        <!-- <div class="form-group">
            <button class="btn btn-primary btn-sm" onclick="checkCloudDb();">Check Cloud DB Info</button>
        </div> -->

        <div class="box mt-2">

            <h2 class="title is-4">User List</h2>
                
                <div class="tabs is-boxed">
                    <ul>
                      <li class="is-active" id="LocalTab"><a onclick="getLocalList()">Local</a></li>
                      <li id="CloudTab"><a onclick="getCloudList()">Cloud</a></li>
                    </ul>
                  </div>
                  <i id="ulistspinner" class="fas fa-cog fa-spin fa-2x"></i>
            <div id="userlist">
                
            </div>

        </div>
        

    </div>

    {% endif %}

 
        
    </div>



    {% endblock %}



    {% block scripts %}
        <script>

            $(document).ready(function () {
                $("#psinfo").hide();
                $.post("/getuserlist",{"type":"local"}).done( function (data) {
                        $("#ulistspinner").hide();
                        $("#userlist").html(data);
                    });
            });

            function getLocalList() {
                $("#CloudTab").removeClass("is-active")
                $("#LocalTab").addClass("is-active")
                $("#ulistspinner").show();
                $("#userlist").html("");
                $.post("/getuserlist",{"type":"local"}).done( function (data) {
                        $("#ulistspinner").hide();
                        $("#userlist").html(data);
                    });
            }

            function getCloudList() {
                $("#LocalTab").removeClass("is-active")
                $("#CloudTab").addClass("is-active")
                $("#ulistspinner").show();
                $("#userlist").html("");
                $.post("/getuserlist",{}).done( function (data) {
                        $("#ulistspinner").hide();
                        $("#userlist").html(data);
                    });
            }

            function checkServerProcs() {
                $.post("/serverprocs",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function checkStdOut() {
                $.post("/checkstdout",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function checkStdErr() {
                $.post("/checkstderr",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function checkLogs() {
                $.post("/checklogs",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function deleteEmuLogs() {
                $.post("/deleteemulogs",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function delUser(userid) {
                user = $("#val" + userid).val();
                if (confirm('Really delete user ' + user + '?')) {
                    $.post("/deleteuser",{email: user}).done( function (data) {
                        window.location.href = "/admin";
                    });
                }                 
            }

            function changerole(userid) {
                user = $("#val" + userid).val();
                newrole = $("#sel" + userid + " option:selected").text();
                $("#sel" + userid).prop('disabled', true);
                $.post("/changerole",{ email: user, newrole: newrole} ).done(
                    function (data) {
                        if (data == "Role changed!") {
                            $("#sel" + userid).prop('disabled', false);
                        } else {
                            alert("Error changing role.")
                        }
                    }
                );
            }

            function checkCloudDb() {
                $("#psinfo").hide();
                $("#running").css("display", "block");
                $.get("/clouddbinfo",{}).done( function (data) {
                    $('#cloudinfo').html(data);
                    $("#running").css("display", "none");
                });                                 
            }

            function saveCloudDbInfo() {
                $.post("/saveclouddbinfo",{"info":$("#clouddbinfo").val()}).done( function (data) {
                    $('#cloudinfo').html(data);
                });
            }

            function saveEmailInfo() {
                $.post("/saveemailinfo",{"info":$("textarea#emailInfo").val()}).done( function (data) {
                    $('#emailresponse').html(data);
                });
            }

            

        </script>



    {% endblock %} 