{% extends "base.html" %}


    {% block styles %}
    {% endblock %} 


    {% block content %}

    <div class="container mt-3 mx-auto px-4">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!-- <article class="message is-danger is-light my-1">
                <div class="message-body py-1 px-1"> -->
                <div class="notification is-danger is-light py-1 px-2">
                    {{ messages[0] }}
                </div>
                <!-- </div>
            </article> -->
            {% endif %}
        {% endwith %}  

        {% if current_user.role == 'Admin' %}

        <div class="box">

            <h2 class="title is-4">Server Info</h2>

            <div class="form-group form-inline mb-0">            
                <button class="button is-info is-small" onclick="checkServerProcs();">Check Server Processes</button>
                <button class="button is-info is-small" onclick="checkStdOut();">Check Supervisor STDOUT</button>
                <button class="button is-info is-small" onclick="checkStdErr();">Check Supervisor STDERR</button>
                <button class="button is-info is-small" onclick="checkLogs();">Check Flask Logs</button>
                <button class="button is-danger is-small" onclick="deleteEmuLogs();">Delete Flask Logs</button>
            </div> 

            <div class="mb-2 mt-1 mx-2 is-size-7" id="psinfo" style="height: 70vh; overflow-y:auto">
                
            </div>

        </div>

        <div class="box">

            <h2 class="title is-4">Cloud Database Info</h2>

            <div class=" container is-flex mb-2" >
                <!-- <label for="clouddbinfo">Cloud Db Info</label> -->
                <input type="text" class="input is-small is-inline is-flex-grow-1 mx-2" id="clouddbinfo" aria-describedby="emailHelp" placeholder="Cloud DB Info" value="{{clouddbinfo}}">
                <button class="button is-info is-small mx-1" onclick="saveCloudDbInfo();">Save</button>
                <button class="button is-info is-small mx-1" onclick="checkCloudDb();">Check Cloud DB Info</button>
            </div> 


            <i id="running" class="fa fa-cog fa-spin fa-2x fa-fw" style="display: none;"></i>
            <div class="block is-size-7 mx-2" id="cloudinfo">
                
            </div>

        </div>

        <div class="box">

            <h2 class="title is-4">Email Info and Credentials</h2>

            <div class="form-group">
                <!-- <label for="emailinfo">Example textarea</label> -->
                <textarea class="textarea is-small" id="emailInfo" rows="5">{{emailinfo}}</textarea>
            </div>

            <button class="button is-info is-small mt-1" onclick="saveEmailInfo();">Save</button>
            <div class="block is-size-7 mx-2 mt-1" id="emailresponse">                
            </div>

        </div>

        <!-- <div class="form-group">
            <button class="btn btn-primary btn-sm" onclick="checkCloudDb();">Check Cloud DB Info</button>
        </div> -->

       
    
        {%- if userlist is defined -%}
        <div class="box mt-2">
        <h2 class="title is-4">User List</h2>

        <table class="table mx-auto is-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>

                
                {% for uu in userlist %}
                <tr>
                    <td>{{ uu.name }}</td>
                    <td>{{ uu.email }}</td>
                    <td>
                        {% if uu.email == current_user.email %}
                            <div class="select is-small">
                            <select class="custom-select" disabled>
                        {% else %}
                            <input type="hidden" id="val{{loop.index}}" value="{{uu.email}}">
                            <div class="select is-small">
                            <select class="custom-select" id="sel{{loop.index}}" onchange="changerole({{loop.index}});">
                        {% endif %}
                            {% if uu.role == 'Student' %}
                                <option value="Student" selected>Student</option>
                                <option value="Professor">Professor</option>
                                <option value="Admin">Admin</option>
                            {% elif uu.role == 'Admin' %}
                                <option value="Student">Student</option>
                                <option value="Professor">Professor</option>
                                <option value="Admin" selected>Admin</option>
                            {% else %}
                                <option value="Student">Student</option>
                                <option value="Professor" selected>Professor</option>
                                <option value="Admin">Admin</option>
                            {% endif %}
                          </select></div>
                    </td>
                    <td>
                        {% if uu.email == current_user.email %}
                            <button class="button is-danger is-small" disabled>Delete</button>
                        {% else %}
                            <button class="button is-danger is-small" onclick="delUser({{loop.index}});">Delete</button>
                        {% endif %}
                        
                    </td>
                </tr>
                <!-- <li class="list-group-item" id="user{{uu}}">   -->
                    <!-- <button class="btn btn-danger btn-sm float-right m-0 ml-1 p-2" onclick="deletefile('{{ fname }}.vhd');">Delete</button>
                    <button class="btn btn-primary btn-sm float-right m-0 ml-1 p-2" onclick="rename('{{ fname }}.vhd');">Rename</button>
                    <button class="btn btn-primary btn-sm float-right m-0 ml-1 p-2" onclick="location.href = '/editor?file={{ fname }}.vhd';">Edit</button> -->
                    <!-- <button id="btl{{ fname }}" class="btn btn-primary btn-sm float-right m-0 ml-1 p-2" onclick="settop('{{ fname }}');" disabled>Set top level</button>                         -->
                <!-- </li> -->
                {% endfor %}



            </tbody>
          </table>

        {% endif %}

    </div>

    {% endif %}

 
        
    </div>



    {% endblock %}



    {% block scripts %}
        <script>

            $(document).ready(function () {
                $("#psinfo").hide();
            });

            function checkServerProcs() {
                $.post("/serverprocs",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function checkStdOut() {
                $.post("/checkstdout",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function checkStdErr() {
                $.post("/checkstderr",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function checkLogs() {
                $.post("/checklogs",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function deleteEmuLogs() {
                $.post("/deleteemulogs",{}).done( function (data) {
                        $("#psinfo").show();
                        $("#psinfo").html(data);
                    });
            }

            function delUser(userid) {
                user = $("#val" + userid).val();
                if (confirm('Really delete user ' + user + '?')) {
                    $.post("/deleteuser",{email: user}).done( function (data) {
                        window.location.href = "/admin";
                    });
                }                 
            }

            function changerole(userid) {
                user = $("#val" + userid).val();
                newrole = $("#sel" + userid + " option:selected").text();
                $("#sel" + userid).prop('disabled', true);
                $.post("/changerole",{ email: user, newrole: newrole} ).done(
                    function (data) {
                        if (data == "Role changed!") {
                            $("#sel" + userid).prop('disabled', false);
                        } else {
                            alert("Error changing role.")
                        }
                    }
                );
            }

            function checkCloudDb() {
                $("#psinfo").hide();
                $("#running").css("display", "block");
                $.get("/clouddbinfo",{}).done( function (data) {
                    $('#cloudinfo').html(data);
                    $("#running").css("display", "none");
                });                                 
            }

            function saveCloudDbInfo() {
                $.post("/saveclouddbinfo",{"info":$("#clouddbinfo").val()}).done( function (data) {
                    $('#cloudinfo').html(data);
                });
            }

            function saveEmailInfo() {
                $.post("/saveemailinfo",{"info":$("textarea#emailInfo").val()}).done( function (data) {
                    $('#emailresponse').html(data);
                });
            }

            

        </script>



    {% endblock %} 