{% extends "base.html" %}

{% block content %}

        

        <div class="container is-max-desktop mt-3 mb-4 px-3">

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <!-- <article class="message is-danger is-light my-1">
                  <div class="message-body py-1 px-1"> -->
                  <div class="notification is-danger is-light py-1 px-2">
                    {{ messages[0] }}
                  </div>
                  <!-- </div>
                </article> -->
              {% endif %}
            {% endwith %}

            <article class="message is-info">
                <div class="message-body py-2">
                    User is <strong>{{ username }}</strong>.
                    {% if (current_user.role == 'Admin') or (current_user.role == 'Professor') %}
                        {% if (current_user.viewAs != '') and (current_user.viewAs != current_user.email) %}
                            <span style="color: red;">(viewing as <strong>{{current_user.viewAs}}</strong>).</span>
                        {% endif %}
                    {% endif %}
                </div>
            </article>
            
        </div>

        {%- if filenames is defined -%}
        <div class="container is-max-desktop mt-4 px-3">            
            {% if currentproject == "" %}
                <button class="button is-info is-small is-pulled-right mx-1" onclick="location.href = '/downloadfile';">Download All</button>  
                <button class="button is-primary is-small is-pulled-right mx-1" onclick="createProject();">Create Project</button>
                <h4 class="title is-4 m-0">Project List</h4>
                <p class="is-6 is-italic">To begin, open a project or create one.</p>
            {% else %}
                <div class="is-flex my-1">  
                    <h4 class="title is-4 m-0 is-flex-grow-1">Current Project is <i>{{currentproject}}</i></h4>                  
                    <button class="button is-warning is-small ml-1" onclick="location.href = '/closeproject';">Close Project</button>
                    <!-- <button class="button is-dark is-small mx-1" onclick="location.href = '/closeproject';">Export as DE1-SoC/Quartus II Project</button> -->
                    <button class="button is-info is-small is-pulled-right ml-1" onclick="location.href = '/downloadafile?file={{ currentproject }}';">Download All</button>  
                    <button class="button is-danger is-small is-pulled-right ml-1" onclick="deleteAllFiles('{{ currentproject }}');">Delete All</button> 
                    <div class="dropdown" id="exportdropdown">
                        <div class="dropdown-trigger">
                          <button class="button is-small is-dark mx-1" aria-haspopup="true" aria-controls="dropdown-menu3" onclick="toggleExportList()" >
                            <span>Export To...</span>
                            <span class="icon is-small">
                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                          <div class="dropdown-content">
                            <a class="dropdown-item" onclick="exportProject('DE1SOC');">
                              DE1-SoC/Quartus II
                            </a>
                            <a class="dropdown-item" onclick="exportProject('DE2');">
                              DE2/Quartus II
                            </a>
                          </div>
                        </div>
                      </div>
                </div>  
                <div class="container w-100 my-0">
                    <button type="button" class="button is-info is-small mt-2 mb-0 is-pulled-right" onclick="newFile();">New File</button>              
                </div>
            {% endif %}
            <table class="table is-fullwidth is-hoverable mt-1" >
                <tbody>
                    <tr><td></td></tr>
                    {% if currentproject == "" %}
                        {% for pname in projectnames %}
                            <tr><td id="project-{{ pname }}">
                                {{ pname }}
                                <button class="button is-danger is-small is-pulled-right mr-1" onclick="deleteProject('{{ pname }}');"><i class="far fa-trash-alt"></i></button>
                                <button class="button is-info is-small is-pulled-right mr-1" onclick="window.open('/downloadafile?file={{ pname }}', '_blank');"><i class="fas fa-download"></i></button>
                                <button class="button is-info is-small is-pulled-right mr-1" onclick="rename('{{ pname }}');">Rename</button>
                                <!-- <button class="button is-info is-small is-pulled-right mr-1" onclick="location.href = '/editor?file={{ fname }}.vhd';">Edit</button> -->
                                <button id="btl{{ fname }}" class="button is-primary is-small is-pulled-right mr-1" onclick="location.href = '/openproject/{{ pname }}';">Open Project</button>
                            </td></tr>
                        {% endfor %}
                    {% else %}
                        {% for fname in filenames %}
                            {% if currentproject != "" %}
                                {% set fullfname = currentproject + '/' + fname + '.vhd'  %}
                            {% else %}
                                {% set fullfname = fname + '.vhd'  %}
                            {% endif %} 
                            <tr><td id="vhd{{ fname }}">
                                {{ fname }}.vhd                        
                                <button class="button is-danger is-small is-pulled-right mr-1" onclick="deletefile('{{ fullfname }}');"><i class="far fa-trash-alt"></i></button>
                                <button class="button is-info is-small is-pulled-right mr-1" onclick="window.open('/downloadafile?file={{ fullfname }}', '_blank');"><i class="fas fa-download"></i></button>                       
                                <button class="button is-info is-small is-pulled-right mr-1" onclick="rename('{{ fullfname }}');">Rename</button>
                                <button class="button is-info is-small is-pulled-right mr-1" onclick="location.href = '/editor?file={{ fullfname }}';">Edit</button>                       
                                <button id="btl{{ fname }}" class="button is-info is-small is-pulled-right mr-1 settopbtl" onclick="settop('{{ fname }}','{{currentproject}}',true);">Set top level</button>
                            </td></tr>                    
                        {% endfor %}
                    {% endif %}
                    <tr><td></td></tr>
                </tbody>   
            </table>

        </div>
        {% else %}
        <div class="container is-max-desktop mt-4 px-3">
            <h4 class="title is-4 m-0">No files in your folder.</h4>
        </div>
        {% endif %}

        {% if currentproject != "" %}
            <div class="container is-max-desktop mt-3 px-3">
            
                <form class="md-form" id="meuform" enctype="multipart/form-data">

                    <div id="fileselector" class="file is-info is-small has-name is-fullwidth" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                        <label class="file-label">
                        <input class="file-input" type="file" name="fileToUpload" id="fileToUpload" accept=".vhd" multiple>
                        <span class="file-cta">
                            <span class="file-icon">
                            <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                            Files to upload
                            </span>
                        </span>
                        <span class="file-name">
                            ...
                        </span>
                        </label>
                        <button type="button" class="button is-info is-small" onclick="uploadfile();">Upload</button>
                    </div>

                </form> 

                <div class="buttons has-addons is-centered mt-4 mx-3">
                    <button type="button" class="button is-danger is-centered" onclick="fpgaCompile();">Compile</button>
                </div>
            </div>
        {% endif %}        

        <div class="modal is-clipped" id="compilationmodal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title" id="compmodaltitle">Compilation</p>
                <button class="delete" aria-label="close" onclick="document.querySelector('#compilationmodal').classList.remove('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <div id="myspinner" class="loader is-loading"></div>
                <div id="status">    
                </div> 
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger is-small" onclick="document.querySelector('#compilationmodal').classList.remove('is-active');">Close</button>
                <button class="button is-info is-small" id="gotoemul" onclick="location.href = '/emulation'">Go to Emulation</button>
              </footer>
            </div>
          </div>


          <div class="modal is-clipped" id="modalSaveAs">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p id="renameToTitle" class="modal-card-title">Rename to...</p>
                <button class="delete" aria-label="close" onclick="document.querySelector('#modalSaveAs').classList.remove('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <div class="field has-addons w-100">                    
                    <div class="control">
                        <div id="projectselectdiv" class="select is-info">
                            <select id="projectselect">
                                <option value="{{currentproject}}">{{currentproject}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <input type="text" id="filenameas" class="input" placeholder="File Name">
                    </div>
                </div>                    
                <div id="saveasalert" class="notification is-warning py-1 mt-1">
                    File extension must be ".vhd".                  
                </div>
              </section>
              <footer class="modal-card-foot">
                <button id="renameButton" class="button is-danger is-small" onclick="renameTo()">Rename</button>
                <button id="newFileButton" class="button is-info is-small" onclick="createNewFile()">Create File</button>
                <button class="button is-link is-small" onclick="document.querySelector('#modalSaveAs').classList.remove('is-active');">Close</button>
              </footer>
            </div>
          </div>


        <div class="modal is-clipped" id="modalCreateProject">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Create project...</p>
                <button class="delete" aria-label="close" onclick="document.querySelector('#modalCreateProject').classList.remove('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <input class="input" type="text" id="projectname" placeholder="Text input" autofocus>
                <div class="notification is-warning py-1 mt-1" id="createprojectalert">
                    File extension must be ".vhd".                  
                </div>
              </section>
              <footer class="modal-card-foot">
                <button type="button" class="button is-info is-small" onclick="createProject2()">Create</button>
                <button type="button" class="button is-danger is-small" onclick="document.querySelector('#modalCreateProject').classList.remove('is-active');">Close</button>
              </footer>                
            </div>
        </div>


        <div class="modal is-clipped" id="confirmDialog">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Confirm Deletion</p>
                <button class="delete" aria-label="close" onclick="document.querySelector('#confirmDialog').classList.remove('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <p id="confirmDialogMessage">Modal body text goes here.</p>
              </section>
              <footer class="modal-card-foot">
                <button type="button" class="button is-danger is-small" id="confirmDeleteBtn">Delete!</button>
                <button class="button is-info is-small" onclick="document.querySelector('#confirmDialog').classList.remove('is-active');">Close</button>
              </footer>
            </div>
        </div>

          <div class="modal is-clipped" id="modalError">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Error</p>
                <button class="delete" aria-label="close" onclick="document.querySelector('#modalError').classList.remove('is-active');"></button>
              </header>
              <section class="modal-card-body">
                <p id="errorMessage">Modal body text goes here.</p>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger is-small" onclick="document.querySelector('#modalError').classList.remove('is-active');">Close</button>
              </footer>
            </div>
          </div>        
            

{% endblock %}

{% block scripts %}
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">

        function dropHandler(ev) {
        // console.log('File(s) dropped');

        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();

            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to access the file(s)
                console.log(ev.dataTransfer.files);  
                const dt = new DataTransfer()
                for (var i = ev.dataTransfer.files.length-1; i >= 0; i--) {
                // // If dropped items aren't files, reject them
                //     if (ev.dataTransfer.items[i].kind === 'file') {
                //         var file = ev.dataTransfer.items[i].getAsFile();
                //         console.log('... file[' + i + '].name = ' + file.name);
                //     }
                    if (ev.dataTransfer.files[i].name.endsWith("vhd")) {
                        dt.items.add(ev.dataTransfer.files[i]);
                    }
                }            
                console.log(dt.files.length);
                f2up = document.querySelector("#fileToUpload");
                if (dt.files.length > 0) {                    
                    f2up.files = dt.files;
                    f2up.dispatchEvent(new Event('change'));
                } else {
                    f2up.value = '';
                    const fileName = document.querySelector('#fileselector .file-name');
                    fileName.textContent = "...";
                }                
                // $("#fileToUpload").trigger("change");
            } else {
                // $("#fileToUpload").val('');
                // Use DataTransfer interface to access the file(s)
                // for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                //     console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                // }
            }
        }
        function dragOverHandler(ev) {
            // console.log('File(s) in drop zone');
            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }

        
        const fileInput = document.querySelector('#fileselector input[type=file]');
        if (fileInput) {
            fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                    var filestr = "";
                    for (var i = 0; i < fileInput.files.length; i++) {
                        filestr = filestr + fileInput.files[i].name + ",";
                    }
                    const fileName = document.querySelector('#fileselector .file-name');
                    fileName.textContent = filestr.substring(0, filestr.length - 1);
                } else {
                    const fileName = document.querySelector('#fileselector .file-name');
                    fileName.textContent = "...";
                }           
            }
        }
       

        $(document).ready(function() {
            $('#saveasalert').hide();
            $('#createprojectalert').hide();
            // console.log('{{toplevel}}');
            if ('{{toplevel}}'.includes("/")) {
                var aux = '{{toplevel}}'.split("/");
                // console.log(aux);
                if (aux[0] == '{{currentproject}}') {
                    settop(aux[1],'',false);
                }
            } else {
                if ('{{currentproject}}' == "") {
                    settop('{{toplevel}}','',false);
                }                
            }
        });

        function settop(fname,projname,record) {
            // $(('#vhd' + fname)).addClass('list-group-item-primary').siblings().removeClass('list-group-item-primary');
            $('[id^=vhd]').each(function( index ) {
                $(this).removeClass('has-background-light');
            });
            $(('#vhd' + fname)).addClass('has-background-light');
            $(".settopbtl").prop( "disabled", false );
            $(('#btl' + fname)).prop( "disabled", true );
            if (record == true) {
                if (projname != "") { fname = projname + "/" + fname; }
                $.post("/settoplevel",{ toplevelfile: fname } ).done(
                    function (data) {
                        // console.log(data);
                        data = "";
                    }
                );
            }
        }

        function errorMessage(msg) {
            $("#errorMessage").html(msg);
            $("#modalError").addClass("is-active");
            $('#bcloseerr').focus();
        }

        function uploadfile() { 

            var numFiles = $("#fileToUpload")[0].files.length;
            if ( numFiles > 30 ) {
                errorMessage("Too many files at once.");
                return;
            } else if (numFiles == 0) {
                errorMessage("No file to upload.");
                return;
            }

            var fdata = new FormData( $("#meuform").get(0) );
            fdata.append('currentproject',"{{currentproject}}");
            			
            $.ajax({
                url : 'upload',
                type : "POST",
                data : fdata,
                // both 'contentType' and 'processData' parameters are
                // required so that all data are correctly transferred
                contentType : false,
                processData : false
            }).done(function(response,statusText, xhr){
                if (response == "Done!") {
                    // $("#status").html("<br>File(s) sent.");                    
                    location.href = "/files";
                    // fpgaCompile();
                } else if (response.startsWith("Fail")) {
                    errorMessage(response);
                }                
                // In this callback you get the AJAX response to check
                // if everything is right...
            }).fail(function(response,statusText,xhr){
                // Here you should treat the http errors (e.g., 403, 404)
                // $("#status").html(response); 
                errorMessage(String(xhr));
                // alert(String(xhr));
            }).always(function(){
                // alert("Chegou!");
                // alert("AJAX request finished!");
            });

        }

        window.socket = 0;
        window.socketOn = false;

        function openSocket() {
            if (location.protocol !== 'https:') {
                window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            } else {
                window.socket = io.connect('https://' + document.domain + ':' + location.port + '/stream');
            }
            window.socketOn = true; 
            window.socket.on('disconnect',function() {
                window.socketOn = false;
            });
            window.socket.on('filedeleted',function() {
                location.href = '/';
            });
            window.socket.on('message', function(msg){     
                if ($('#status').html() == "") {
                    $('#status').html(String(msg));
                } else {
                    $('#status').append('<br>'+String(msg));
                }                
            });
            window.socket.on('errors', function(msg){
                $('#status').append('<br><span style="color:red;">Errors:<br>'+String(msg)+"</span>");
                $("#myspinner").hide();
            });
            window.socket.on('success',function(msg){
                $('#status').append(`
                    <span style="color:blue;">
                        Compilation successful!<br>
                        You can now start your emulation.
                    </span>
                `);
                $("#gotoemul").attr('disabled', false);
                $("#myspinner").hide();
            });
            window.socket.on('error',function(msg){
                errorMessage(String(msg));
            });
            window.socket.on('filerenamed',function(msg){
                location.href = '/';
            });
            window.socket.on('projectcreated',function(msg){
                location.href = '/';
            });
            window.socket.on('notlogged',function(msg){
                location.href = '/login';
            });
            window.socket.on('exportsuccess',function(msg){
                $("#myspinner").hide();
                $('#status').append("<br><br><strong>Success! File download will begin soon or</strong><br>");
                $('#status').append('<strong><a href="/downloadproject/' + msg +  '">click here</a> to download manually</strong>.');
                // location.href = '/downloadproject/' + msg;
                window.open('/downloadproject/' + msg,'_blank');
            });
            window.socket.on('exporterror',function(msg){
                $("#myspinner").hide();
                $('#status').append("<br><br><strong style='color:red;'>" + msg + "<strong>")
            });
            window.socket.on('filesaved',function(msg){
                $("#myspinner").hide();
                location.href = "/editor?file=" + msg;
            });
            
      
        }


        function newFile() {           
            $('#saveasalert').hide();  
            $('#renameToTitle').html("New File");
            $('#renameButton').hide();
            $('#newFileButton').show();
            window.filetorename = "";
            $('#projectselect').prop('disabled', true);          
            $("#filenameas").val("");
            $("#modalSaveAs").addClass("is-active"); //.modal();
            $("#filenameas").focus();
        }

        function createNewFile() {
            $('#saveasalert').hide();
            val = "{{currentproject}}/" + $("#filenameas").val();          
            if (val != "") {
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("savefile",{filename: val, data:""});
                $("#modalSaveAs").removeClass("is-active"); //.modal('hide');                       
            } 
        }


        window.filetorename = "";
        function rename(fname) {
            $('#saveasalert').hide();
            $('#renameToTitle').html("Rename to...");
            $('#renameButton').show();
            $('#newFileButton').hide();
            if (fname.endsWith("vhd")) {
                $("#projectselectdiv").show();
                $('#projectselect').prop('disabled', true);
            } else {
                $("#projectselectdiv").hide();
            }
            window.filetorename = fname;            
            $("#filenameas").val(fname.split("/")[1]);
            $("#modalSaveAs").addClass("is-active"); //.modal();
            $("#filenameas").focus();            
        }

        function renameTo() {           
            $('#saveasalert').hide();
            if ("{{currentproject}}" != "") {
                val = "{{currentproject}}/" + $("#filenameas").val();
            } else {
                val = $("#filenameas").val();
            }            
            if ((val != "") && (val != window.filetorename)) {
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("renamefile",{filename: window.filetorename, filenameto: val});
                $("#modalSaveAs").removeClass("is-active"); //.modal('hide');                       
            }     
        }

        function createProject() {
            $("#modalCreateProject").addClass("is-active");
            $("#projectname").focus();
        }

        function createProject2() {
            $('#createprojectalert').hide();
            val = $("#projectname").val();
            if ( val != "" ) {
                // if ( val.endsWith(".vhd") ) {
                    if (!window.socketOn) { openSocket(); }
                    window.socket.emit("createproject",{projectname: val});
                    $("#modalSaveAs").removeClass("is-active"); //.modal('hide');              
                // } else {
                    //alert("Error: File does not end with .vhd or .vhdl.")
                    // $("#saveasalert").show();
                // }            
            } 
        }

        function deletefile(fname) {  
            $('#confirmDialogMessage').html("Deleting '" + fname + "'.\nAre you sure?");

            $('#confirmDeleteBtn').off('click');
            $('#confirmDeleteBtn').click( function() {
                // alert(fname);
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("deletefile",fname);
                $('#confirmDialog').removeClass("is-active");
            });

            $('#confirmDialog').addClass("is-active");         
       
        }

        function deleteProject(pname) {
            $('#confirmDialogMessage').html("Deleting Project <strong>" + pname + "</strong> and all files within.\n<strong>Are you REALLY SURE?</strong>");

            $('#confirmDeleteBtn').off('click');
            $('#confirmDeleteBtn').click( function() {
                // alert(fname);
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("deletefile",pname);
                $('#confirmDialog').removeClass("is-active");
            });

            $('#confirmDialog').addClass("is-active");  
        }

        function deleteAllFiles(pname) {
            $('#confirmDialogMessage').html("Deleting ALL FILES in project!!!<br><strong>Are you REALLY sure?</strong>"); 

            $('#confirmDeleteBtn').off('click');
            $('#confirmDeleteBtn').click( function() {
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("deleteallfiles",pname);
                $('#confirmDialog').removeClass("is-active");
            });

            $('#confirmDialog').addClass("is-active");   

        }

        function fpgaCompile() {
            document.querySelector("#compmodaltitle").innerHTML = "Compiling";
            $("#status").html("");
            $("#myspinner").show();
            $("#gotoemul").show()
            $("#gotoemul").attr('disabled', true);
            // $("#fullHeightModalRight").modal();
            $("#compilationmodal").addClass("is-active");
            if (!window.socketOn) { openSocket(); }
            window.socket.send("Compile");           
        }

        function exportProject(target) {
            $("#status").html("");
            $("#myspinner").show();
            $("#gotoemul").hide();
            document.querySelector("#compmodaltitle").innerHTML = "Exporting Project";
            document.querySelector("#compilationmodal").classList.add('is-active');
            $('#status').append("<strong style='color: red;'>Warning</strong>: DE1-SoC has only 10 LEDRs, 10 SWs and 6 HEX displays. Thus, outputs to LEDR, SW and HEX may be truncated.")
            $('#exportdropdown').removeClass('is-active');
            if (!window.socketOn) { openSocket(); }
            window.socket.emit("exportproject",{projname: "{{currentproject}}", target: target});
        }

        function toggleExportList() {
            if ($('#exportdropdown').hasClass("is-active")) {
                $('#exportdropdown').removeClass('is-active');
            } else {
                $('#exportdropdown').addClass('is-active');
            }
        }

        // function fpgaCompile() {
        //     var socket = io.connect('http://' + document.domain + ':' + location.port + '/stream')
        //     socket.send("Compile")
        //     socket.on('message', function(msg){                
        //         $('#status').append('<br>'+String(msg));
        //     });
        //     socket.on('errors', function(msg){
        //         $('#status').append('<span style="color:red;"><br>Errors:<br>'+String(msg)+"</span>");
        //     });
        //     socket.on('success',function(msg){
        //         $('#status').append(`
        //             <br><span style="color:blue;">
        //                 Compilation successful!<br>
        //                 You can now start your emulation.
        //             </span>
        //         `);
        //     });
        // }
        
    </script>
    
{% endblock %}