{% extends "base.html" %}

{% block content %}

        <div class="container mt-3 px-4 mx-auto">

            <div class="box">

                <h2 class="title is-4">Authorship</h2>

                The <strong>FPGA Emulator Web</strong> has been developed by <strong>Prof. Eduardo L. O. Batista</strong>. 
                The emulation backend is based on the work of <strong>Prof. Fabian L. Cabrera</strong> at the <a href="https://fabian.paginas.ufsc.br/pt/tools/fpgaemu/">FPGAEmu project</a>.
                Both are professors at the <a href="http://www.eel.ufsc.br" target="_BLANK">Department of Electrical and Electronics Engineering</a> at the <a href="http://www.ufsc.br" target="_BLANK">Federal University of Santa Catarina (UFSC)</a>.
            
            </div>

            <div class="box">

                <h2 class="title is-4">Platforms and Dependencies</h2>

                <p><strong>Emulation backend</strong>: GHDL-based.</p>
                <p><strong>Web backend</strong>: Python and Flask.</p>
                <p><strong>Web frontend</strong>: Bulma, JQuery, SocketIO, SVG.js, JQuery.Ui, and the outstanding Ace Editor.</p>

            </div>
            
            <div class="box">

                <h2 class="title is-4">General Instructions</h2>

                <div class="container">

                    <p>The following <strong>ports</strong> are mapped to the FPGA Emulator Web:</p>
                    
                    <table class="table is-striped is-hoverable">
                        <thead>
                            <tr><th>FPGAEmuWeb Port List</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>CLK_500Hz: in std_logic;</td></tr>
                            <tr><td>CLK_1Hz: in std_logic;</td></tr>
                            <tr><td>CLK_10Hz: in std_logic;</td></tr>
                            <tr><td>KEY: in std_logic_vector(3 downto 0);</td></tr>
                            <tr><td>SW: in std_logic_vector(17 downto 0);</td></tr>
                            <tr><td>LEDR: out std_logic_vector(17 downto 0);</td></tr>
                            <tr><td>HEX0,HEX1,HEX2,HEX3,HEX4,HEX5,HEX6,HEX7	: out std_logic_vector(6 downto 0);</td></tr>
                        </tbody>
                    </table>

                </div>
            

            </div>
            

        </div>

    
{% endblock %}