{% extends "base.html" %}

{% block content %}

        <div class="container mt-3">
            <h2 class="mb-3">General Instructions</h2>
            <p>The top-level entity must be named <strong>usertop</strong> and be defined in file <strong>usertop.vhd</strong>.</p>
            <p>The following <strong>ports</strong> are mapped to the DE2 kit emulator:</p>
            <ul class="list-group">
                <li class="list-group-item">CLK_500Hz: in std_logic;</li>
                <li class="list-group-item">CLK_1Hz: in std_logic;</li>
                <li class="list-group-item">CLK_10Hz: in std_logic;</li>
                <li class="list-group-item">KEY: in std_logic_vector(3 downto 0)</li>
                <li class="list-group-item">SW: in std_logic_vector(17 downto 0)</li>
                <li class="list-group-item">LEDR: out std_logic_vector(17 downto 0)</li>
                <li class="list-group-item">HEX0,HEX1,HEX2,HEX3,HEX4,HEX5,HEX6,HEX7	: out std_logic_vector(6 downto 0)</li>
            </ul>
        </div>

    
{% endblock %}