{% extends "base.html" %}

{% block styles %}
<style>
      
      #maincard{
        /* height: 370px; */
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
      }
      
    
  </style>
{% endblock %}   

{% block content %}

<div class="container is-fullwidth">
                         
      <div class="card mx-auto my-4" id="maincard">
                        
        <div class="card-header">
          <p class="card-header-title has-background-info has-text-white">
            FPGAEmuWeb Sign In
          </p>
        </div>
        <div class="card-content">
          <form method="POST" action="" onsubmit="doLogin(event)">

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" name="email" id="email" placeholder="your@email" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <!-- <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span> -->
              </div>
              <!-- <p class="help is-danger">This email is invalid</p> -->
            </div>

            <div class="field">
              <label class="label">Password</label>
              <p class="control has-icons-left">                
                <input class="input" type="password" name="password" id="password" placeholder="Password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <!-- <article class="message is-danger is-light my-1">
                  <div class="message-body py-1 px-1"> -->
                  <div class="notification is-danger is-light py-1 px-2">
                    {{ messages[0] }}
                  </div>
                  <!-- </div>
                </article> -->
              {% endif %}
              {% endwith %} 
                            
              <div class="notification is-warning is-light py-1 px-2 my-1" style="display: none;" id="msg2">                
              </div>
           
            <input type="submit" value="Login" class="button is-info mt-1 mb-2">
            
            <!-- <button type="button" class="button is-info mt-1 mb-2" onclick="doLogin()" >Login</button> -->

            </form> 

            <article class="message is-info m-0 is-small">
              <div class="message-body p-2 mt-2 mb-0">
                Don't have an account? <a href="signup" class="text-white font-weight-bold ml-1">Sign Up!</a><br>
              </div>
            </article>

            <article class="message is-info is-small">
              <div class="message-body p-2 mt-1">
                <a href="#" class="text-white font-weight-bold" onclick="passRecovery();">Forgot your password?</a>
              </div>
            </article>
            
                             
        </div>
              

      </div>

</div>

<div class="modal is-clipped" id="modalPassRecovery">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Password Recovery</p>
      <button class="delete" aria-label="close" onclick="$('#modalPassRecovery').removeClass('is-active');"></button>
    </header>
    <section class="modal-card-body">
      <p>Enter the e-mail address of the account to be recovered:</p>
      <div class="field">
        <!-- <label class="label">Email</label> -->
        <div class="control has-icons-left">
          <input class="input" type="email" name="email" id="recoveryemail" placeholder="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <!-- <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span> -->
        </div>
        <!-- <p class="help is-danger">This email is invalid</p> -->
      </div>
    </section>
    <footer class="modal-card-foot">
      <button type="button" class="button is-info is-small" onclick="recovery(event);">Recovery</button>
      <button class="button is-danger is-success is-small" onclick="$('#modalPassRecovery').removeClass('is-active');">Close</button>
      
    </footer>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>

        // $( document ).ready(function() {  
        //   $("#myspinner").css("visibility","visible");
        //   $("#msg2").css("visibility", "visible");
        //   $("#msg2").css("display", "block");
        //   $("#msg2").html("Testeeee!");
        // });

    var loginworking = false;
    function doLogin(e) {
      e.preventDefault();
      if (!loginworking) {
        loginworking = true;
      } else {
        console.log("Wait...");
        return false;
      }
      $("#msg2").css("visibility", "visible");
      $("#msg2").css("display", "block");
      $("#msg2").html('<div class="fa-1x"><i class="fas fa-spinner fa-spin"></i></div>');
      $.post("/login",{ "email": $("#email").val(), "password": $("#password").val() } ).done(
          function (data) {            
            if (data.startsWith("Starting")) {
              setTimeout(doLogin2,2000);
            } else if (data.startsWith("AlreadyDone")) {
              doLogin2();
            } else if (data.startsWith("Success")) {
              $("#msg2").html("Success! Redirecting...");
              loginworking = false;
              document.location = "files" 
            } else {
              loginworking = false;
              $("#msg2").html(data);  
            }                                    
          }
      );
      return false;
    }

    function doLogin2() {
      $.post("/login",{"email": "", "password": ""} ).done(
          function (data) {            
            if (data.startsWith("Success")) {
              $("#msg2").html("Success! Redirecting...");
              loginworking = false;
              document.location = "files"              
            } else if (data.startsWith("Running")) {
              setTimeout(doLogin2,1000);
            } else {
              loginworking = false;
              $("#msg2").html(data);
            }                                    
          }
      );
      
    }

    function passRecovery() {
        $("#modalPassRecovery").addClass("is-active");
        $("#recoveryemail").focus();
    }

    var recoveryworking = false;
    function recovery(e) {
      $("#modalPassRecovery").removeClass("is-active");
      e.preventDefault();
      if (!recoveryworking) {
        recoveryworking = true;
      } else {
        console.log("Wait...");
        return false;
      }
      $("#msg2").css("visibility", "visible");
      $("#msg2").css("display", "block");
      $("#msg2").html('<div class="fa-1x"><i class="fas fa-spinner fa-spin"></i></div>');
      $.post("/passrecovery",{ "email": $("#recoveryemail").val() } ).done(
          function (data) {            
            if (data.startsWith("Starting")) {
              setTimeout(recovery2,2000);
            } else  {
              processPassRecResult(data);
            }                                    
          }
      );
      return false;
    }

    function recovery2() {
        $.post("/passrecoverystatus",{ } ).done(
                function (data) {            
                  if (data.startsWith("Running")) {
                    setTimeout(recovery2,1000);
                  } else {
                    processPassRecResult(data);
                  }                                
                }
            );
            return false;
    }

    function processPassRecResult(data) {
      if (data.startsWith("Success")) {
          $("#msg2").html("New password generated and sent to your email address, please check your inbox and spam box as well. In case of problems, please contact the system administrator.");
      } else if (data.startsWith("LocalOnly")) {
          $("#msg2").html("New password generated and sent to your email address, please check your inbox and spam box as well. In case of problems, please contact the system administrator (local database only).");
      } else if (data.startsWith("NotAllowed10Min")) {
          $("#msg2").html("Password recovery allowed only after 10 minutes.");
      } else if (data.startsWith("NotFoundLocal")) {
          $("#msg2").html("User not found (local database).");
      } else if (data.startsWith("NotFoundInCloud")) {
          $("#msg2").html("User not found (cloud database).");
      } else {          
          $("#msg2").html(data);  
      }   
      recoveryworking = false;
    }


</script>

{% endblock %}  