{% extends "base.html" %}

{% block content %}
<!-- Default form login -->
<div class="container mt-2">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <form class="text-center border border-light p-5" action="login" method="POST">

        <p class="h4 mb-4">Log in</p>

        <!-- Email -->
        <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

        <!-- Password -->
        <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

        <!-- Register -->
        <p>Not a member?
            <a href="/signup">Register</a>
        </p>

        <!-- Social login -->
        <!-- <p>or sign in with:</p>

        <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

    </form>
</div>
<!-- Default form login -->
{% endblock %}