<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static/socket.io.js"></script>
    </head>
<body>

    <h1>Emulador Doidão</h1>

    <p>Sua <strong>id</strong> é {{ username }}.</p>

    <form action="" id="meuform" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload" accept=".vhd,.vhdl" multiple>
        <input type="button" value="Upload Image" name="submit" onclick="uploadfile();">
    </form>

    <div id="status">

    </div>

    <script>

        function uploadfile() {  

            var fdata = new FormData( $("#meuform").get(0) );
            // var ajaxUrl = "process-upload.php";				
            $.ajax({
                url : 'upload',
                type : "POST",
                data : fdata,
                // both 'contentType' and 'processData' parameters are
                // required so that all data are correctly transferred
                contentType : false,
                processData : false
            }).done(function(response){
                if (response == "Done!") {
                    $("#status").html(response + "<br>Iniciando compilação...");
                    fpgaCompile();
                }                
                // In this callback you get the AJAX response to check
                // if everything is right...
            }).fail(function(){
                // Here you should treat the http errors (e.g., 403, 404)
            }).always(function(){
                // alert("AJAX request finished!");
            });

        }

        function fpgaCompile() {
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/stream')
            socket.send("Compilar")
            socket.on('message', function(msg){                
                $('#status').append('<br>'+String(msg));
            })
            socket.on('errors', function(msg){
                $('#status').append('<br>Errors:<br>'+String(msg));
            })
        }

        // function fpgaCompile() {            
        //     var fdata = new FormData();
        //     fdata.append("username","joao");
        //     $.ajax({
        //         url : 'yield',
        //         type : "POST",
        //         data : fdata,
        //         contentType : false,
        //         processData : false
        //     }).done(function(response){
        //         var source = new EventSource('/yield');
        //         source.onmessage = function(e) {
        //             $("#status").append("<br>" + e.data);
        //         }
        //         //$("#status").append("<br>" + response);               
        //         // In this callback you get the AJAX response to check
        //         // if everything is right...
        //     }).fail(function(){
        //         // Here you should treat the http errors (e.g., 403, 404)
        //     }).always(function(){
        //         // alert("AJAX request finished!");
        //     });
        // }

    </script>

</body>
</html>