{% extends "base.html" %}

{% block styles %}

<style>
    .portname { 
        font-size: large;
        font-weight: bold;
    }
</style>

{% endblock %}

{% block content %}

 <!-- <div class="container mt-2">
            Your <strong>id</strong> is {{ username }}.        
        </div> -->

        {%- if filenames is defined -%}
        <div class="container mt-4">
            <select id="fileselect" class="browser-default custom-select" onchange="openmap()">
                <option selected value="0">Choose file...</option>
                {% for fname in filenames %}
                    <option value="{{fname}}">{{fname}}</option>
                {% endfor %}
            </select>   
        
            <h3 class="mt-3">Port Mapping</h3>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enableMapCheck" onchange="checkchanged()">
                <label class="form-check-label" for="enableMapCheck">
                  Enable Port Mapping
                </label>
            </div>

            <div id="portmap" style="text-size-adjust: 70%;"></div>
            

            <button class='btn btn-sm btn-primary' onclick="buildmap()">Save</button>

        </div>  
        {% endif %}

        

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        function getform(idx,typesize,direction) {
            var ax = '<select id="Name' + idx + '">';
            if (direction == "in") {
                ax = ax + " <option>SW</option><option>KEY</option></select>";
            } else {
                ax = ax + `                    
                        <option>LEDR</option><option>HEX0</option><option>HEX1</option><option>HEX2</option>
                        <option>HEX3</option><option>HEX4</option><option>HEX5</option><option>HEX6</option>
                        <option>HEX7</option>
                    </select>                
                `;
            }
            if (typesize == 1) {
                ax = ax + '( <input type="text" maxlength=2 style="width: 30px;" id="rangeA' + idx + '"> )';
            } else {
                ax = ax + '( <input type="text" maxlength=2 style="width: 30px;" id="rangeA' + idx + '"> downto ';
                ax = ax + '<input type="text" maxlength=2 style="width: 30px;" id="rangeB' + idx + '"> )';
            }
            return ax;
        }

        function gettypetext(typesize) {
            if (typesize == 1) {
                return "std_logic";
            } else {
                typesize = typesize-1;
                return "std_logic_vector(" + typesize + " downto 0)";
            }
        }

        window.socket = 0;
        window.socketOn = false;
        window.lastportdata = 0;

        function openSocket() {
            window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            window.socketOn = true;
            window.socket.on('portlist', function(dataa){
                msg = dataa[0];
                msg2 = dataa[1];
                var plist = new Array(); 
                window.lastportdata = msg;
                aux = '<ul class="list-group">';
                for (var ii = 0; ii < msg.length; ii++) {
                    plist.push(msg[ii].name);
                    aux = aux + '<li class="list-group-item"><span class="portname">';
                    aux = aux + msg[ii].name + "</span> " + gettypetext(msg[ii].typesize) + " => ";                   
                    aux = aux +  getform(ii,msg[ii].typesize,msg[ii].direction);
                    aux = aux + ' </li>\n';
                }
                aux = aux + '</ul>';
                $("#portmap").html(aux);
                for (var ii = 0; ii < msg2.length; ii++) {
                    var idx = plist.indexOf(String(msg2[ii][0]));
                    if (idx > -1) {
                        $("#Name" + idx + " option").filter(function() {
                            return $(this).text() == msg2[ii][1];
                        }).prop('selected', true);
                        $( "#rangeA" + idx).val(msg2[ii][2]);
                        if (msg2[ii].length == 4) {
                            $( "#rangeB" + idx).val(msg2[ii][3]);
                        }
                    }
                }
                $('#enableMapCheck').prop('checked', true);
                
                // alert('File saved successfully!');
                // $("#filesavedmsg").html('File ' + String(msg) + " saved successfully!");
                // $("#centralModalSm").modal();
                // window.filechanged = false;
                // if (window.lastfilesaveopt >= 1) {
                //     location.href = "/editor?file=" + String(msg);
                // }
            }); 
            window.socket.on('mapsavesuccess', function(msg){
                alert(msg);
            });
            // window.socket.on('message', function(msg){     
            //     if ($('#status').html() == "") {
            //         $('#status').html(String(msg));
            //     } else {
            //         $('#status').append('<br>'+String(msg));
            //     }                
            // });
            // window.socket.on('errors', function(msg){
            //     $('#status').append('<br><span style="color:red;">Errors:<br>'+String(msg)+"</span>");
            //     $("#myspinner").hide();
            // });
            // window.socket.on('success',function(msg){
            //     $('#status').append(`
            //         <span style="color:blue;">
            //             Compilation successful!<br>
            //             You can now start your emulation.
            //         </span>
            //     `);
            //     $("#gotoemul").attr('disabled', false);
            //     $("#myspinner").hide();
            // });
            // window.socket.on('asuccess',function(msg){
            //     $('#status').append(`
            //         <span style="color:blue;">
            //             Analysis end up successfully!
            //         </span>
            //     `);
            //     $("#myspinner").hide();
            // });
            // window.socket.on('disconnect', function(msg){
            //     window.socketOn = false;
            // });
            // window.socket.on('error',function(msg){
            //     errorMessage(String(msg));
            // });
        }

        function checkchanged() {
            ckb = $("#enableMapCheck").is(':checked');
            if (ckb) {
                $('[id^=Name]').prop( "disabled", false );
                $('[id^=range]').prop( "disabled", false );
            } else {
                $('[id^=Name]').prop( "disabled", true );
                $('[id^=range]').prop( "disabled", true );
            }
        }

        function openmap() {  

            var val = $("#fileselect").children("option:selected").val();
            if (val != 0) {
                if (!window.socketOn) {
                    openSocket();
                }
                window.socket.emit("getmap",val);          
            } else {
                $("#portmap").html("");
            }           

        }

        function buildmap() {
            var val = $("#fileselect").children("option:selected").val();
            if (val != 0) {
                axx = "";
                ax2 = "";
                for (var jj = 0; jj < window.lastportdata.length; jj++) {
                    name = $( "#Name" + jj + " option:selected" ).text();
                    rangeA = $( "#rangeA" + jj).val();
                    axx = axx + name + "(" + rangeA;
                    ax2 = ax2 + window.lastportdata[jj].name + ":" 
                    if (window.lastportdata[jj].typesize == 1) {
                        axx = axx + ") => " + window.lastportdata[jj].name + ",";
                        ax2 = ax2 + name + "," + rangeA + "\n"
                    } else {
                        rangeB = $( "#rangeB" + jj).val();
                        axx = axx + " downto " +  rangeB + ") => " + window.lastportdata[jj].name + ",";
                        ax2 = ax2 + name + "," + rangeA + "," + rangeB + "\n";
                    }
                    axx = axx + " "; // axx = axx + "\n";
                }
                ckb = $("#enableMapCheck").is(':checked');
                window.socket.emit("savemap",{filename: val, data: (ckb ? axx.slice(0,-2) : "") + "\n" + ax2.slice(0,-1)});                
            } 
        }


    </script>

{% endblock %}