{% extends "base.html" %}


    {% block styles %}
    {% endblock %} 


    {% block content %}

    <div class="container mt-3 is-max-desktop" style="max-width: 600px;">

        <article class="message is-info ">
            <div class="message-body py-2">
                Current user is <strong><em>{{current_user.name}}</em></strong> (<strong>{{current_user.email}}</strong>).
            </div>
        </article>


        {% with messages = get_flashed_messages() %}
              {% if messages %}
                <!-- <article class="message is-danger is-light my-1">
                  <div class="message-body py-1 px-1"> -->
                  <div class="notification is-warning is-light py-1 px-2">
                    {{ messages[0] }}
                  </div>
                  <!-- </div>
                </article> -->
            {% endif %}
        {% endwith %}       

        {% if current_user.role == 'Professor' or current_user.role == 'Admin' %}
            <form class="box" action="setViewAs" method="POST">
                <h3 class="title is-4">View As</h3>
                <div class="select is-small">
                    <select class="custom-select mb-2" id="viewAsSelect" name="viewAsSelect">
                        {% for uu in userlist %} 
                            {% if uu == current_user.viewAs %}                       
                                <option value="{{uu}}" selected>{{uu}}</option>
                            {% elif (current_user.viewAs == '') and (uu == current_user.email) %}   
                                <option value="{{uu}}" selected>{{uu}}</option>
                            {% else %}
                                <option value="{{uu}}">{{uu}}</option> 
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="button is-info is-small">Change View</button>

            </form>
        {% endif %}

        <form class="box" action="" onsubmit="doChangePass(event)" method="POST">
            <h3 class="title is-4">Change Password</h3>
            <div class= "mt-3">
                <!-- <label for="exampleInputPassword1">Change Password</label> -->
                <div class="field">
                    <p class="control has-icons-left">                
                      <input class="input is-small" type="password" id="oldpass" name="oldpass" placeholder="Old Password" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">                
                      <input class="input is-small" type="password" id="newpass" name="newpass" placeholder="New Password" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">                
                      <input class="input is-small" type="password" id="repeatnew" name="repeatnew" placeholder="Repeat New Password" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                </div>
                <input type="hidden" name="email" value="{{current_user.email}}" id="useremail">
            </div>

            <button type="submit" class="button is-info is-small">Change Pass</button>

            <div class="notification is-warning is-light py-1 px-2 my-1" style="display: none;" id="msg2">                
            </div>

        </form>
    </div>



    {% endblock %}



    {% block scripts %}
    <script>

        var changepassworking = false;

        function doChangePass(e) {
            e.preventDefault();
            if (!changepassworking) {
                changepassworking = true;
            } else {
                console.log("Wait...");
                return false;
            }
            $("#msg2").css("visibility", "visible");
            $("#msg2").css("display", "block");
            $("#msg2").html('<div class="fa-1x"><i class="fas fa-spinner fa-spin"></i></div>');
            $.post("/changepass",{ "email": $("#useremail").val(), "oldpass": $("#oldpass").val(), "newpass": $("#newpass").val(), "repeatnew": $("#repeatnew").val() } ).done(
                function (data) {            
                    if (data.startsWith("Starting")) {
                        setTimeout(doChangePass2,1000);
                    } else if (data.startsWith("Success")) {
                        $("#msg2").html("Password successfully changed.");
                        changepassworking = false;
                    } else {
                        changepassworking = false;
                        $("#msg2").html(data);  
                    }                                    
                }
            );
            return false;
        }

        function doChangePass2(e) {
            $.post("/changepassstatus",{ } ).done(
                function (data) {            
                    if (data.startsWith("Running")) {
                        setTimeout(doChangePass2,1000);
                    } else if (data.startsWith("Success")) {
                        $("#msg2").html("Password successfully changed.");
                        changepassworking = false;
                    } else if (data.startsWith("LocalOnly")) {
                        $("#msg2").html("Password successfully changed (local database only).");
                        changepassworking = false;
                    } else {
                        changepassworking = false;
                        $("#msg2").html(data);  
                    }                                    
                }
            );
            return false;
        }
    </script>

    {% endblock %} 