{% extends "base.html" %}

{% block content %}

        

        <div class="container mt-4 mb-4">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}

            <h5 class="d-inline">User is <strong>{{ username }}</strong>.</h5>
            <h6>
                {% if (current_user.role == 'Admin') or (current_user.role == 'Professor') %}
                    {% if (current_user.viewAs != '') and (current_user.viewAs != current_user.email) %}
                        <span style="color: red;">(viewing as <strong>{{current_user.viewAs}}</strong>).</span>
                    {% endif %}
                {% endif %}
            </h6>
            
            
        </div>

        {%- if filenames is defined -%}
        <div class="container mt-2">            
            <button type="button" class="btn btn-primary m-0 ml-1 p-2 float-right" onclick="location.href = '/downloadfile';">Download All</button>
            <button type="button" class="btn btn-danger m-0 ml-1 p-2 float-right" onclick="deleteAllFiles();">Delete All</button>
            <h4 class="mb-3">Current files:</h4>
            <ul class="list-group">             
                {% for fname in filenames %}
                    <li class="list-group-item" id="vhd{{ fname }}">{{ fname }}.vhd
                        <button class="btn btn-danger btn-sm float-right m-0 ml-1 p-2" onclick="deletefile('{{ fname }}.vhd');">Delete</button>
                        <button class="btn btn-primary btn-sm float-right m-0 ml-1 p-2" onclick="rename('{{ fname }}.vhd');">Rename</button>
                        <button class="btn btn-primary btn-sm float-right m-0 ml-1 p-2" onclick="location.href = '/editor?file={{ fname }}.vhd';">Edit</button>
                        <button id="btl{{ fname }}" class="btn btn-primary btn-sm float-right m-0 ml-1 p-2 settopbtl" onclick="settop('{{ fname }}',true);">Set top level</button>                        
                    </li>
                {% endfor %}                
            </ul>
        </div>
        {% else %}
        <div class="container mt-2">
            <h4>No files in your folder.</h4>
        </div>
        {% endif %}

        <div class="container mt-3 w-75">
            
            <form class="md-form" id="meuform" enctype="multipart/form-data">
                <div class="input-group">                    
                    <div class="custom-file">
                    <input type="file" name="fileToUpload" id="fileToUpload" class="custom-file-input m-0"
                        accept=".vhd" multiple>
                    <label class="custom-file-label" for="fileToUpload">Choose file(s) to upload...</label>                    
                    </div> 
                <button type="button" class="btn btn-primary py-2 px-4" onclick="uploadfile();" style="margin-top: 13px;">Upload</button>

                </div>
            </form> 
 
            <!-- <form class="md-form" id="meuform" enctype="multipart/form-data">
                <div class="file-field">
                  <div class="btn btn-primary btn-sm float-left">
                    <span>Choose file(s)</span>
                    <input type="file" name="fileToUpload" id="fileToUpload" accept=".vhd,.vhdl" multiple>
                  </div> -->
                  <!-- <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload your file">
                  </div> -->
                <!-- </div>
                <button type="button" class="btn btn-primary p-2" onclick="uploadfile();">Upload</button>
            </form> -->

            <div class="container text-center">
                <button type="button" class="btn btn-danger mt-3" onclick="fpgaCompile();">Compile</button>
            </div>

        </div>

        <!-- <div class="container mt-3 text-center">

            <div id="status">
    
            </div>
    
        </div> -->

        <!-- Full Height Modal Right -->
        <div class="modal fade bottom" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
        
            <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
            <div class="modal-dialog modal-full-height modal-bottom" role="document">
        
        
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Compilation Process</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div id="myspinner" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div id="status">    
                    </div>                    
                </div>
                <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <button id="gotoemul" type="button" class="btn btn-primary btn-sm" onclick="location.href = '/emulation'">Go to Emulation...</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Full Height Modal Right -->

        <div class="modal fade" id="modalSaveAs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Rename to...</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                    <input type="text" id="filenameas" class="form-control validate" autofocus>
                    <label data-error="wrong" data-success="right" for="filenameas">File Name</label>
                </div>
                </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-secondary btn-sm" onclick="renameTo()">Rename<i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                    <div id="saveasalert" data-dismiss="alert" class="alert alert-danger hide" role="alert">
                        File extension must be ".vhd".                  
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirm Deletion</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p id="confirmDialogMessage">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-danger" id="confirmDeleteBtn">Delete!</button>
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
        <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modalErrorLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                <button type="button" id="bcloseerr" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
            </div>
        </div>

        
            

{% endblock %}

{% block scripts %}
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">

        $(document).ready(function() {
            $('#saveasalert').hide();
            $('#modalError').on('shown.bs.modal', function () {
                $('#bcloseerr').focus();
            });
            settop('{{toplevel}}',false);
        });

        function settop(fname,record) {
            $(('#vhd' + fname)).addClass('list-group-item-primary').siblings().removeClass('list-group-item-primary');
            $(".settopbtl").prop( "disabled", false );
            $(('#btl' + fname)).prop( "disabled", true );
            if (record == true) {
                $.post("/settoplevel",{ toplevelfile: fname } ).done(
                    function (data) {
                        data = "";
                    }
                );
            }
        }

        function errorMessage(msg) {
            $("#errorMessage").html(msg);
            $("#modalError").modal();
        }

        function uploadfile() { 

            var numFiles = $("#fileToUpload")[0].files.length;
            if ( numFiles > 20 ) {
                errorMessage("Too many files at once.");
                return;
            } else if (numFiles == 0) {
                errorMessage("No file to upload.");
                return;
            }

            var fdata = new FormData( $("#meuform").get(0) );
            
            // var ajaxUrl = "process-upload.php";				
            $.ajax({
                url : 'upload',
                type : "POST",
                data : fdata,
                // both 'contentType' and 'processData' parameters are
                // required so that all data are correctly transferred
                contentType : false,
                processData : false
            }).done(function(response,statusText, xhr){
                if (response == "Done!") {
                    // $("#status").html("<br>File(s) sent.");
                    location.href = "/";
                    // fpgaCompile();
                }                
                // In this callback you get the AJAX response to check
                // if everything is right...
            }).fail(function(response,statusText,xhr){
                // Here you should treat the http errors (e.g., 403, 404)
                // $("#status").html(response); 
                errorMessage(String(xhr));
                // alert(String(xhr));
            }).always(function(){
                // alert("AJAX request finished!");
            });

        }

        window.socket = 0;
        window.socketOn = false;

        function openSocket() {
            window.socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');
            window.socketOn = true; 
            window.socket.on('disconnect',function() {
                window.socketOn = false;
            });
            window.socket.on('filedeleted',function() {
                location.href = '/';
            });
            window.socket.on('message', function(msg){     
                if ($('#status').html() == "") {
                    $('#status').html(String(msg));
                } else {
                    $('#status').append('<br>'+String(msg));
                }                
            });
            window.socket.on('errors', function(msg){
                $('#status').append('<br><span style="color:red;">Errors:<br>'+String(msg)+"</span>");
                $("#myspinner").hide();
            });
            window.socket.on('success',function(msg){
                $('#status').append(`
                    <span style="color:blue;">
                        Compilation successful!<br>
                        You can now start your emulation.
                    </span>
                `);
                $("#gotoemul").attr('disabled', false);
                $("#myspinner").hide();
            });
            window.socket.on('error',function(msg){
                errorMessage(String(msg));
            });
            window.socket.on('filerenamed',function(msg){
                location.href = '/';
            });
      
        }

        window.filetorename = "";
        function rename(fname) {
            window.filetorename = fname;
            $("#filenameas").val(fname);
            $("#modalSaveAs").modal();
            $("#filenameas").focus();
        }

        function renameTo() {           
            $('#saveasalert').hide();
            val = $("#filenameas").val();
            if ((val != "") && (val != window.filetorename)) {
                if ( val.endsWith(".vhd") ) {
                    if (!window.socketOn) { openSocket(); }
                    window.socket.emit("renamefile",{filename: window.filetorename, filenameto: val});
                    $("#modalSaveAs").modal('hide');              
                } else {
                    //alert("Error: File does not end with .vhd or .vhdl.")
                    $("#saveasalert").show();
                }            
            }     
        }

        function deletefile(fname) {  
            $('#confirmDialogMessage').html("Deleting '" + fname + "'.\nAre you sure?"); 

            $('#confirmDeleteBtn').off('click');
            $('#confirmDeleteBtn').click( function() {
                // alert(fname);
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("deletefile",fname);
                $("#confirmDialog").modal('hide');
            });

            $('#confirmDialog').modal();
            
            // $("#confirmModal").modal('toggle');
            // var txt;
            // var r = confirm("Deleting '" + fname + "'.\nAre you sure?");
            // if (r == true) {
            //     if (!window.socketOn) { openSocket(); }
            //     window.socket.emit("deletefile",fname); 
            // } else {
            //     txt = "You pressed Cancel!";
            // }
        }

        function deleteAllFiles() {
            $('#confirmDialogMessage').html("Deleting ALL FILES!!!<br>Are you REALLY sure?"); 

            $('#confirmDeleteBtn').off('click');
            $('#confirmDeleteBtn').click( function() {
                if (!window.socketOn) { openSocket(); }
                window.socket.emit("deleteallfiles","");
                $("#confirmDialog").modal('hide');
            });

            $('#confirmDialog').modal();

            // var txt;
            // var r = confirm("Deleting ALL FILES!!!\nAre you REALLY sure?");
            // if (r == true) {
            //     if (!window.socketOn) { openSocket(); }
            //     window.socket.emit("deleteallfiles",""); 
            // } else {
            //     txt = "You pressed Cancel!";
            // }
        }

        function fpgaCompile() {
            $("#status").html("");
            $("#myspinner").show();
            $("#gotoemul").attr('disabled', true);
            $("#fullHeightModalRight").modal();
            if (!window.socketOn) { openSocket(); }
            window.socket.send("Compile")            
        }

        // function fpgaCompile() {
        //     var socket = io.connect('http://' + document.domain + ':' + location.port + '/stream')
        //     socket.send("Compile")
        //     socket.on('message', function(msg){                
        //         $('#status').append('<br>'+String(msg));
        //     });
        //     socket.on('errors', function(msg){
        //         $('#status').append('<span style="color:red;"><br>Errors:<br>'+String(msg)+"</span>");
        //     });
        //     socket.on('success',function(msg){
        //         $('#status').append(`
        //             <br><span style="color:blue;">
        //                 Compilation successful!<br>
        //                 You can now start your emulation.
        //             </span>
        //         `);
        //     });
        // }
        
    </script>
    
{% endblock %}