{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="static/css/jquery-ui.structure.min.css">  
    <link rel="stylesheet" href="static/css/jquery-ui.theme.min.css">   

    <style>

        /* Hide the nested list */
        .nesteditem {
            display: none;
        }

        /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
        .activeitem {
            display: block;
        }

    </style>
{% endblock %} 

{% block content %}

    <div class="is-fullwidth">

        <div class="columns mt-0 mx-0 px-0">
            <iframe id="surferiframe" src="/static/surfer_wasm/index.html" class="column" style="width: 100%; min-height: 90vh; border: 1px solid lightgray;">
            </iframe>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    <!-- <script type="text/javascript">
        console.log("Script loaded");
        document.querySelector('#surferiframe').addEventListener('load', function () {    
            alert('Page loaded');
            document.querySelector('#surferiframe').contentWindow.postMessage({command: "LoadUrl", url: "/downloadsimfile"}, "*");
            document.querySelector('#surferiframe').contentWindow.postMessage({command: "ToggleMenu"}, "*");        
        });
    </script> -->

    <script>
        window.addEventListener("message", (event) => {
            if (event.data.command === "SurferReady") {
                console.log("Surfer is ready, sending LoadUrl command with {{filetoload}}");
                document.querySelector('#surferiframe').contentWindow.postMessage({command: "LoadUrl", url: window.location.origin + "/output.ghw"}, "*");
                document.querySelector('#surferiframe').contentWindow.postMessage({command: "ToggleMenu"}, "*");        
            }
        });
    </script>
   
    


{% endblock %}